.matrix {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-family: monospace;
    opacity: 0.7;
  }
  
  .binary-column {
    display: flex;
    flex-direction: column;
  }
  
  .binary-bit {
    font-size: 20px;
    transition: color 1.5s ease; /* Slow transition */
    margin: 2px 0;
  }
  
  .color-0 {
    color: #004d00; /* Dark green */
  }
  
  .color-1 {
    color: #008000; /* Medium green */
  }
  
  .color-2 {
    color: #00e600; /* Light green */
  }
  