.test {
    color: rgb(255, 145, 0);
    font-weight: bold;
  }
  
  .contentt {
    z-index: 10;
  }
  
  .desDiv {
    padding: 0.5rem 0.5rem;
    padding-left: 0.4rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.7rem;
    border: 1.5px solid rgba(122, 122, 122, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  
  .light {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .dark {
    color: white;
    background: rgba(3, 7, 28, 0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .Swag {
    width: 100%;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    height: 90vh;
  }
  
  .blur-background {
    filter: blur(2px);
    z-index: 10;
  }
  
  .swagButton {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  .SwagbtnDiv{
    width: 15%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem;
    z-index: 10;
  }

  .toggleOptions{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .toggleOptions {
      position:relative; /* Fixed positioning to keep it at the bottom */
      bottom: 0;       /* Stick to the bottom of the viewport */
      left: 0;         /* Align to the left edge */
      right: 0;        /* Align to the right edge */
      z-index: 1000;   /* Ensure it's above other content */
      padding-top: 40px;
      background-color: rgba(255, 255, 255, 0.9); /* Optional: background to make it more visible */
    }
  }
  


.circuitAni{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
}

.floatingElements{
  overflow: hidden;
}

.bgEffect{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 !important;
  height: 100%;
  width: 30%;
  overflow: hidden;
  opacity: 0.8;
}


.blobC {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blobBG{
  z-index: 1;
}
.neon{
  z-index: 1;
}

.blurL{
  filter: blur(2px);
}


.img-boxL-1 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(3, 215, 3), rgb(0, 128, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, rgb(3, 215, 3), rgb(0, 128, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation 5s ease infinite;
}

.img-boxL-4 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(181, 255, 181), rgb(177, 216, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, rgb(162, 255, 162), rgb(173, 214, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation1 5s ease infinite;
}

.img-boxL-0 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(221, 255, 221), rgb(209, 232, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, rgb(220, 255, 220), rgb(209, 232, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation2 5s ease infinite;
}

.img-boxL-3 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(221, 255, 221), rgb(209, 232, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, rgb(220, 255, 220), rgb(209, 232, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation2 5s ease infinite;
}

/* Gradient animation for background and border */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(3, 215, 3), rgb(0, 128, 255)) 1;
  }
  50% {
    background-position: 100% 50%;
    border-image: linear-gradient(90deg, rgb(0, 128, 255), rgb(3, 215, 3)) 1;
  }
  100% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(3, 215, 3), rgb(0, 128, 255)) 1;
  }
}

/* Gradient animation for background and border */
@keyframes gradient-animation2 {
  0% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(202, 255, 202), rgb(193, 224, 255)) 1;
  }
  50% {
    background-position: 100% 50%;
    border-image: linear-gradient(90deg, rgb(205, 230, 255), rgb(204, 255, 204)) 1;
  }
  100% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(192, 255, 192), rgb(200, 228, 255)) 1;
  }
}

.img-boxL-2 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(164, 255, 164), rgb(171, 213, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, #adffad, rgb(156, 205, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation1 5s ease infinite;
}

/* Gradient animation for background and border */
@keyframes gradient-animation1 {
  0% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(180, 255, 180), rgb(182, 218, 255)) 1;
  }
  50% {
    background-position: 100% 50%;
    border-image: linear-gradient(90deg, rgb(143, 199, 255), rgb(168, 255, 168)) 1;
  }
  100% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(184, 255, 184), rgb(160, 207, 255)) 1;
  }
}









.img-boxD-0 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(14, 216, 182), rgb(0, 128, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, rgb(3, 215, 166), rgb(0, 128, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation 5s ease infinite;
}

.img-boxD-4 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(73, 255, 185), rgb(91, 173, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, rgb(73, 255, 185), rgb(91, 173, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation1 5s ease infinite;
}

.img-boxD-3 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(73, 255, 185), rgb(91, 173, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, rgb(73, 255, 185), rgb(91, 173, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation1 5s ease infinite;;
}

.img-boxD-2 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(73, 255, 185), rgb(91, 173, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, rgb(73, 255, 185), rgb(91, 173, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation1 5s ease infinite;
}

.img-boxD-1 {
  border: 1vmin solid;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(164, 255, 244), rgb(171, 213, 255));
  background-size: 200% 200%;
  border-image: linear-gradient(90deg, #adffe1, rgb(156, 205, 255)) 1;
  border-image-slice: 1;
  animation: gradient-animation2 5s ease infinite;
}

/* Gradient animation for background and border */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(5, 239, 177), rgb(0, 128, 255)) 1;
  }
  50% {
    background-position: 100% 50%;
    border-image: linear-gradient(90deg, rgb(0, 128, 255), rgb(3, 215, 137)) 1;
  }
  100% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(3, 215, 162), rgb(0, 128, 255)) 1;
  }
}

/* Gradient animation for background and border */
@keyframes gradient-animation2 {
  0% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(202, 255, 241), rgb(193, 224, 255)) 1;
  }
  50% {
    background-position: 100% 50%;
    border-image: linear-gradient(90deg, rgb(205, 246, 255), rgb(191, 252, 232)) 1;
  }
  100% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(185, 255, 227), rgb(200, 228, 255)) 1;
  }
}



/* Gradient animation for background and border */
@keyframes gradient-animation1 {
  0% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(73, 255, 185), rgb(91, 173, 255)) 1;
  }
  50% {
    background-position: 100% 50%;
    border-image: linear-gradient(90deg, rgb(91, 173, 255), rgb(73, 255, 185)) 1;
  }
  100% {
    background-position: 0% 50%;
    border-image: linear-gradient(90deg, rgb(73, 255, 185), rgb(91, 173, 255)) 1;
  }
}
