/* Projects.css */
.projects-container {
    margin: 0 auto;
    background: linear-gradient(125deg, rgb(117, 18, 178)10%, rgb(28, 1, 49)60%);
  }
  
  .big-card {
    background: linear-gradient(125deg, rgb(163, 97, 248)10%, rgb(115, 18, 189)60%);
    transition: transform 0.3s ease-in-out;
  }
  
  .left-section {
    align-items: start;
  }
  
  .right-section img {
    border-radius: 8px;
  }
  
  
  .technologies-row img {
    height: 40px;
    width: 40px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .technologies-row img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  
.ImgCarousal{
  border-radius: 0.7rem;
  background-color: rgb(37, 18, 49);
}
.slider-section{
  height: 5vh;
}
  

.techIcons{
  overflow: hidden;
  width: 100%;
  background-color: rgb(37, 18, 49);
  padding: 0.6rem 0;
}

.text-purple{
  color: rgb(37, 18, 49); 
}


/* Fade-in and fade-out animations */
.fade-in {
  transform: translateY(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}
.fade-out {
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.fade-in_technologies {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}
.fade-out_technologies {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.fade-in_topic {
  transform: translateX(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}
.fade-out_topic {
  transform: translateX(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.fade-in_img {
  transform: translateX(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}
.fade-out_img {
  transform: translateX(-20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}



/* Other custom styles for the components */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-card {
  position: relative;
  background-color: white;
}

.techIcons img {
  transition: transform 0.3s ease;
}

.techIcons img:hover {
  transform: scale(1.1);
}

